{% load static %}
<header>
  <center>
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets1.png' %}" alt="logimage" width="180px;" height="120px;">
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets5.png' %}" alt="logimage" width="180px;" height="120px;">
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets2.png' %}" alt="logimage" width="180px;" height="120px;">
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets.jpg' %}" alt="logimage" width="180px;" height="120px;">
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets6.png' %}" alt="logimage" width="180px;" height="120px;">
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets4.png' %}" alt="logimage" width="180px;" height="120px;">
   <a href="{% url 'shop:allProdCat' %}"> <img src="{% static 'img/Gadgets3.png' %}" alt="logimage" width="180px;" height="120px;">
  </center>
</header>